<component name="libraryTable">
  <library name="logback-classic-1.4.11">
    <CLASSES>
      <root url="jar://$USER_HOME$/Downloads/logback-classic-1.4.11.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/logback-core-1.4.11.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>